.controls {
    display: flex;
    justify-content: end;
    gap: 2rem;
    margin-bottom: 3rem;
}

.btn {
    padding: 0.4rem .8rem;
    border-radius: .8rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border: 2px solid currentColor;
    color: var(--clr-primary);
}

.btn *{
    color: inherit;
}

.btn:hover {
    background-color: var(--clr-primary);
    color: var(--bg-clr);
    border-color: var(--clr-primary);
}

.icon {
    font-size: 2.4rem;
}