.description-box {
    width: 70%;
    margin: 5rem auto 0;
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    background-color: #fff;
    /* background-color: lightblue; */
}

.description-title-page {
    margin: 0rem 0 1rem;
    font-size: 3.2rem;
}