@media print {
    body * {
        visibility: hidden;
    }

    body {
        background-color: #fff;
    }

    .description-pdf * {
        visibility: visible;
    }

    .description-pdf {
        position: absolute;
        top: 0;
        width: 70%;
    }

}
