@import url("https://fonts.googleapis.com/css2?family=Kodchasan&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

:root {
    --clr-primary: #273f87;
    --clr-secondary: #ffff00;
    /* --clr-secondary: #fcd737; */
    --bg-clr-primary: #e9ecf3;
}

/* reset basic */

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    border: none;
    outline: none;
}

body {
    min-height: 100vh;
    background-color: var(--bg-clr-primary);
}

strong {
    font-weight: 500;
}

button {
    border: none;
    line-height: 1;
    background-color: transparent;
}