/* @media (min-width: 768px) {
    .menu-icon-box {
        display: none;
    }
} */


.menu-icon-box {
    display: none;
}

.btn-menu {
    display: none;
    padding: 0;
    margin: 0;
    line-height: 1;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--bg-clr-primary);
}

.btn-menu.actived {
    display: none;
    /* display: block; */
}

.menu-icon {
    width: 4rem;
    height: 4rem;
    color: inherit;
}

.btn-menu-closed.actived {
    position: relative;
    z-index: 2;
    color: var(--clr-primary);
}
