.main-nav {
    width: 50%;
}

.main-nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.list-item {
    border-radius: 50px;
    color: var(--bg-clr-primary);
    display: flex;
    align-items: center;
}

.list-item:hover,
.list-item.actived {
    background-color: var(--bg-clr-primary);
    color: var(--clr-primary);
}

.main-nav-link {
    display: inline-block;
    padding: 0.2rem 2rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: inherit;
    border-radius: 50px;
}

.main-nav-link:hover {
    color: inherit;
}

.main-nav-link:active {
    transform: scale(0.9);
}
