.form__search-product {
    width: 23%;
    background-color: var(--bg-clr-primary);
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.form__search-product input {
    width: 100%;
    height: 3rem;
    padding-left: 1.5rem;
    padding-top: 0rem;
    padding-right: 4rem;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--clr-primary);
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.form__search-product input::selection {
    background-color: var(--clr-primary);
    color: var(--bg-clr-primary);
}

.form__search-product input:focus {
    outline: 3px solid var(--clr-primary);
    outline-offset: -6px;
    padding-top: 0;
}

.form__search-product input::placeholder {
    color: var(--clr-primary);
    text-transform: none;
    font-size: 1.6rem;
}

:is(.form__search-product input:focus)::placeholder {
    visibility: hidden;
}

.icon-search {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1.5rem;
    cursor: pointer;
    color: var(--clr-primary);
}
