.sub-menu {
    position: relative;
}


.sub-menu.actived {
    background-color: var(--bg-clr-primary);
    color: var(--clr-primary);
} 

 /* .sub-menu-list {
    display: none;
} */

.sub-menu-list {
    width: 23rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.2rem 1rem 1.6rem;
    position: absolute;
    top: 6rem;
    margin-left: 50%;
    list-style: none;
    transform-origin: left top;
    transform: scale(0) translate(-50%);
    background-color: var(--clr-primary);
    border-radius: 0.8rem;
    transition: all .5s ease-in;
}

.sub-menu-list .main-nav-link {
    font-size: 1.4rem;
    text-align: left;
}

.sub-menu.actived .sub-menu-list {
    transform: scale(1) translate(-50%);
}

.sub-menu-list .main-nav-link {
    text-align: left;
} 

/* ------------------------------------------------------ */

/* .sub-menu {
    height: 3.398rem;
    transition: height 0.5s ease-in-out;
}

.sub-menu.actived {
    background-color: var(--clr-primary);
    color: var(--bg-clr-primary);
    height: 10.292rem;
}

/* @media (min-width: 768px) {
    .sub-menu.actived {
        height: 3.3975rem;
        color: var(--clr-primary);
        background-color: var(--bg-clr-primary);
    }
} */
/*
.sub-menu-list .list-item {
    width: 100%;
}

.sub-menu.actived.list-item::after {
    background-color: var(--clr-primary);
}

.sub-menu.actived .list-item::after {
    background-color: var(--bg-clr-primary);
}

.sub-menu.actived .list-item:hover {
    background-color: var(--bg-clr-primary);
    color: var(--clr-primary);
}

.sub-menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    transform-origin: right;
    transform: scale(1) translateX(108%);
    transition: transform 0.5s ease;
}

.sub-menu.actived .sub-menu-list {
    transform: scale(1) translateY(0);
}

.sub-menu-list .main-nav-link {
    font-size: 1.6rem;
} */

/* @media (min-width: 768px) {
    .sub-menu-list {
        all: initial;
        width: 21rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1.2rem 1rem 1.6rem;
        position: absolute;
        top: 6rem;
        list-style: none;
        transform-origin: top;
        transform: scale(0);
        background-color: var(--clr-primary);
        border-radius: 0.8rem;
        transition: all .5s ease-in;
    }
    .sub-menu-list .main-nav-link {
        font-size: 1.4rem;
        text-align: left;
    }

    .sub-menu.actived .sub-menu-list {
        transform: scale(1);
    }

    .sub-menu.actived .sub-menu-list .main-nav-link {
        text-align: left;
    }
} */
