.main-nav {
    width: 50%;
}

.main-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.list-item {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 1.2rem;
}

.list-item::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0%;
    height: 4px;
    background-color: var(--clr-primary);
    transition: all .3s ease-in-out;
}

.list-item:hover::before {
    width: 100%;
}

.main-nav-link:any-link {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-primary);
}

.main-nav-link:hover {
    color: var(--clr-primary);
}

.active-link.list-item::before {
    width: 100%;
} 
